:root {
  --primary-color: #ffc80b;
  --secondary-color: #053160;
  --terciary-color: #031e3c;
  --quadriary-color: #FFE96D;
  --success-color: #2ca105;
  --warning-color: #ff9e03;
  --error-color: #d40a0a;

  --speed: 150ms;

  --font-size: clamp(2.5rem, 3vw, 3.5rem);
  --font-bold: 600;
  --font-light: 300;

  --button-height: 92px;

  --nav-height: env(safe-area-inset-bottom);
}

::-webkit-scrollbar {
  width: 0px;
  opacity: 0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html,
body {
  background-color: var(--terciary-color);
  max-width: 100%;
  height: 100%;
  max-height: calc(100vh - var(--nav-height));
  overscroll-behavior-y: contain;
  overflow: hidden;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: var(--secondary-color);
  max-width: 800px;
  height: 100%;
  margin: 0 auto;
  row-gap: 10px;
  overscroll-behavior-y: contain;
}

h2 {
  color: var(--primary-color);
}

label {
  color: var(--primary-color);
  font-size: var(--font-size);
  font-weight: var(--font-bold);
  text-transform: uppercase;
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

li label {
  color: var(--secondary-color);
}

p {
  font-weight: 500;
  font-size: 18px;
  color: var(--quadriary-color);
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
  max-width: 100%;
  flex: 1;
  padding: 10px;
}

li:active>*,
button:active>* {
  transform: scale3d(0.9, 0.9, 1);
}

input[type="range"] {
  position: absolute;
  inset: 0;
  opacity: 0;
}

input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  pointer-events: none;
}

/* INFO */
#info {
  display: flex;
  max-height: var(--button-height);
  flex: 1;
}

#info-button {
  transition: transform var(--speed) ease;
}

#info-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  inset: 0;
  padding: 10px;
  row-gap: 10px;
  top: var(--button-height);
  bottom: var(--button-height);
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: var(--terciary-color);
  transform: scaleY(0);
  transform-origin: top;
  transition: transform var(--speed) ease;
  z-index: 100;
}

#info-container>* {
  visibility: hidden;
  opacity: 0;
  transition: opacity var(--speed) ease;
}


/* CONTROLLER */
#controller {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  flex: 1;
  transition: var(--speed) ease;
  transition-property: transform;
}

/* SCRUB */
#scrub {
  flex: 1;
  max-height: 16px;
  display: none;
  transition: var(--speed) ease;
  transition-property: transform;
}

/* VOLUME */
#volume {
  flex: 1;
  transition: var(--speed) ease;
  transition-property: transform;
}

.range {
  position: relative;
  display: flex;
  background-color: var(--terciary-color);
}

.range-bar {
  flex: 1;
  transform-origin: left;
  transform: scaleX(0.5);
  background-color: var(--primary-color);
  pointer-events: none;
  width: 100%;
}

/* MENU */
#menu {
  display: flex;
  max-height: var(--button-height);
  flex: 1;
  justify-self: end;
}

#menu-container {
  position: absolute;
  inset: 0;
  bottom: var(--button-height);
  display: flex;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: var(--quadriary-color);
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform var(--speed) ease;
  z-index: 101;
}

#menu-back-button {
  display: none;
}

#menu-container ul {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  flex: 1;
  list-style: none;
  background-color: var(--quadriary-color);
  transform: translateX(100%);
  transition: transform var(--speed) ease;
}

#menu-container li {
  display: grid;
  grid-template-columns: auto 45px;
  max-height: 72px;
  cursor: pointer;
  gap: 10px;
  padding: 10px;
  flex: 1;
}

#menu-container li.leaf {
  display: flex;
}

li .toggle {
  justify-content: flex-end;
}


/* PEEKABOO */
#peek-a-boo {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  inset: 0;
  max-height: 32px;
  color: white;
  font-weight: 500;
  font-size: 12px;
  z-index: 200;
  transform: translateY(-100%);
  animation-duration: var(--speed);
  animation-fill-mode: forwards;
  pointer-events: none;
}

/* SPLASH */
#splash {
  position: absolute;
  display: flex;
  flex-direction: column;
  inset: 0;
  row-gap: 10px;
  background-color: var(--secondary-color);
  align-items: center;
  justify-content: center;
}

#splash img {
  transform: scale(0.9);
}

#splash img,
#splash p {
  transition: var(--speed) cubic-bezier(0.25, 0.1, 0.76, 1.52);
  transition-property: transform, opacity;
}

#splash p {
  height: 24px;
  width: 100%;
  text-align: center;
  animation-duration: var(--speed);
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.toggle {
  display: flex;
  align-items: center;
}

.toggle>* {
  display: none;
}

.highlight {
  background-color: var(--secondary-color);
}

.highlight label {
  color: var(--primary-color);
}

.highlight svg {
  fill: var(--primary-color);
}

.update {
  background-color: var(--success-color);
}

.update label,
.retry label {
  color: white;
}

.retry {
  background-color: var(--error-color);
}

@keyframes peekaboo {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes pulse {
  0% {
    transform: scale3d(1, 1, 1);
  }

  100% {
    transform: scale3d(1.1, 1.1, 1);
  }
}